body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 200px;
}

.page-header {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: lightslategray;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

img {
  image-rendering: pixelated;
}
